<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="mb-3">
    <%= f.label :name, "Имя", class: "form-label fw-bold" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label fw-bold" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <!-- <div class="mb-3">
    <%= f.label :avatar, class: "form-label fw-bold" %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div> -->

  <div class="mb-3">
    <%= f.label :foto, class: "form-label fw-bold" %>
    <p><%=  image_tag(@user.foto.variant(resize_to_fit: [100, 100])) if @user.foto.attached? %></p>
    <%= f.file_field :foto, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
