<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="mt-2">
    <%= f.label :title, class: "form-label fw-bold" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :address, class: "form-label fw-bold" %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :datetime, class: "form-label fw-bold" %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="mt-2">
    <%= f.label :description, class: "form-label fw-bold" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
