<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag "application", :media => "all" %>

  <%= javascript_pack_tag "application" %>

</head>
<body>
<div class="container">
  <%= render "partials/nav" %>
  <div class="alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
